<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>PortalFG</title>



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>


    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


    <script type="text/javascript">



    </script>


</head>
<body>

<th th:text="${message}"/>

<form action="/find">

   Login:<input type="text" name="login" id="login" placeholder="Login"/><br/>
   Password:<input type="password" name="password" id="password" placeholder="Password"/><br/>
    <input type="submit"/>
</form>


</body>
</html>